body{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(131,0,0,1) 44%, rgba(0,125,150,1) 100%);
}
table{
    background-color: white;
    border: 10px inset black;  
}
h2{
    color: rgba(0,125,150,1);
}
